<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>clause</key>
		<string>I am the architect of my life; I build its foundation and choose its contents.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>clause</key>
		<string>Today, I am brimming with energy and overflowing with joy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>clause</key>
		<string>My body is healthy; my mind is brilliant; my soul is tranquil.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>clause</key>
		<string>I am superior to negative thoughts and low actions.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>clause</key>
		<string>I have been given endless talents which I begin to utilize today.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>clause</key>
		<string>I forgive those who have harmed me in my past and peacefully detach from them.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>clause</key>
		<string>A river of compassion washes away my anger and replaces it with love.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>clause</key>
		<string>I am guided in my every step by Spirit who leads me towards what I must know and do.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>clause</key>
		<string>My relationship is becoming stronger, deeper, and more stable each day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>clause</key>
		<string>I possess the qualities needed to be extremely successful.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>clause</key>
		<string>My business is growing, expanding, and thriving.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>clause</key>
		<string>Creative energy surges through me and leads me to new and brilliant ideas.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>clause</key>
		<string>Happiness is a choice. I base my happiness on my own accomplishments and the blessings I’ve been given.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>clause</key>
		<string>My ability to conquer my challenges is limitless; my potential to succeed is infinite.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>clause</key>
		<string>I deserve to be paid well for my time, efforts, and ideas. </string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>clause</key>
		<string>I am courageous and I stand up for myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>clause</key>
		<string>My thoughts are filled with positivity and my life is plentiful with prosperity.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>clause</key>
		<string>Today, I abandon my old habits and take up new, more positive ones.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>clause</key>
		<string>Many people look up to me and recognize my worth; I am admired.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>clause</key>
		<string>I am blessed with an incredible family and wonderful friends.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>clause</key>
		<string>I acknowledge my own self-worth; my confidence is soaring.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>clause</key>
		<string>Everything that is happening now is happening for my ultimate good.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>clause</key>
		<string>I am a powerhouse; I am indestructible.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>clause</key>
		<string>Though these times are difficult, they are only a short phase of life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>clause</key>
		<string>My future is an ideal projection of what I envision now.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>clause</key>
		<string>My efforts are being supported by the universe; my dreams manifest into reality before my eyes.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>clause</key>
		<string>I am attracting the perfect partner by becoming the one.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>clause</key>
		<string>I radiate beauty, charm, and grace.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>clause</key>
		<string>I am conquering my illness; I am defeating it steadily each day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>clause</key>
		<string>My obstacles are moving out of my way; my path is carved towards greatness.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>clause</key>
		<string>I wake up today with strength in my heart and clarity in my mind.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>clause</key>
		<string>My fears of tomorrow are simply melting away.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>clause</key>
		<string>I am at peace with all that has happened, is happening, and will happen.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>clause</key>
		<string>My nature is Divine; I am a spiritual being.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>clause</key>
		<string>My life is just beginning.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>clause</key>
		<string>I feel the love of those who are not physically around me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>clause</key>
		<string>I take pleasure in my own solitude.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>clause</key>
		<string>I am too big a gift to this world to feel self-pity.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>clause</key>
		<string>I love and approve of myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>clause</key>
		<string>I focus on breathing and grounding myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>clause</key>
		<string>Following my intuition and my heart keeps me safe and sound.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>clause</key>
		<string>I make the right choices every time.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>clause</key>
		<string>I draw from my inner strength and light.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>clause</key>
		<string>I trust myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>clause</key>
		<string>I am a unique child of this world.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>clause</key>
		<string>I have as much brightness to offer the world as the next person.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>clause</key>
		<string>I matter and what I have to offer this world also matters.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>clause</key>
		<string>I may be one in 7 billion but I am also one in 7 billion.I am unique.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>clause</key>
		<string>I trust my inner wisdom and intuition.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>clause</key>
		<string>I breathe in calmness and breathe out nervousness.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>clause</key>
		<string>This situation works out for my highest good.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>clause</key>
		<string>Wonderful things unfold before me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>52</integer>
		<key>clause</key>
		<string>I forgive myself for all the mistakes I have made.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>clause</key>
		<string>I let go of my anger so I can see clearly.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>54</integer>
		<key>clause</key>
		<string>I accept responsibility if my anger has hurt anyone.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>55</integer>
		<key>clause</key>
		<string>I replace my anger with understanding and compassion.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>56</integer>
		<key>clause</key>
		<string>I may not understand the good in this situation but it is there.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>57</integer>
		<key>clause</key>
		<string>I muster up more hope and courage from deep inside me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>58</integer>
		<key>clause</key>
		<string>I choose to find hopeful and optimistic ways to look at this.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>59</integer>
		<key>clause</key>
		<string>I kindly ask for help and guidance if I cannot see a better way.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>60</integer>
		<key>clause</key>
		<string>I refuse to give up because I haven’t tried all possible ways.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>61</integer>
		<key>clause</key>
		<string>I know my wisdom guides me to the right decision.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>62</integer>
		<key>clause</key>
		<string>I trust myself to make the best decision for me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>63</integer>
		<key>clause</key>
		<string>I receive all feedback with kindness but make the final call myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>64</integer>
		<key>clause</key>
		<string>I listen lovingly to this inner conflict and reflect on it until I get to peace around it.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>65</integer>
		<key>clause</key>
		<string>I love my family even if they do not understand me completely.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>66</integer>
		<key>clause</key>
		<string>I show my family how much I love them in all the verbal and non-verbal ways I can.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>67</integer>
		<key>clause</key>
		<string>There is a good reason I was paired with this perfect family.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>68</integer>
		<key>clause</key>
		<string>I choose to see my family as a gift.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>69</integer>
		<key>clause</key>
		<string>I am a better person from the hardship that I’ve gone through with my family.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>70</integer>
		<key>clause</key>
		<string>I choose friends who approve of me and love me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>71</integer>
		<key>clause</key>
		<string>I surround myself with people who treat me well.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>72</integer>
		<key>clause</key>
		<string>I take the time to show my friends that I care about them.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>73</integer>
		<key>clause</key>
		<string>My friends do not judge me, nor do they influence what I do with my life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>74</integer>
		<key>clause</key>
		<string>I take great pleasure in my friends, even if we disagree or live different lives.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>75</integer>
		<key>clause</key>
		<string>I am beautiful and smart and that’s how everyone sees me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>76</integer>
		<key>clause</key>
		<string>I take comfort in the fact that I can always leave this situation.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>77</integer>
		<key>clause</key>
		<string>I never know what amazing incredible person I will meet next.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>78</integer>
		<key>clause</key>
		<string>The company of strangers teaches me more about my own likes and dislikes.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>79</integer>
		<key>clause</key>
		<string>I am doing work that I enjoy and find fulfilling.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>80</integer>
		<key>clause</key>
		<string>I play a big role in my own career success.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>81</integer>
		<key>clause</key>
		<string>I ask for and do meaningful, wonderful and rewarding work.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>82</integer>
		<key>clause</key>
		<string>I engage in work that impacts this world positively.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>83</integer>
		<key>clause</key>
		<string>I believe in my ability to change the world with the work that I do.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>84</integer>
		<key>clause</key>
		<string>Peaceful sleep awaits me in dreamland.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>85</integer>
		<key>clause</key>
		<string>I let go of all the false stories I make up in my head.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>86</integer>
		<key>clause</key>
		<string>I release my mind of thought until the morning.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>87</integer>
		<key>clause</key>
		<string>I embrace the peace and quiet of the night.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>88</integer>
		<key>clause</key>
		<string>This day brings me nothing but joy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>89</integer>
		<key>clause</key>
		<string>Today will be a gorgeous day to remember.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>90</integer>
		<key>clause</key>
		<string>My thoughts are my reality so I think up a bright new day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>91</integer>
		<key>clause</key>
		<string>I fill my day with hope and face it with joy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>92</integer>
		<key>clause</key>
		<string>I choose to fully participate in my day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>93</integer>
		<key>clause</key>
		<string>I let go of worries that drain my energy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>94</integer>
		<key>clause</key>
		<string>I make smart, calculated plans for my future.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>95</integer>
		<key>clause</key>
		<string>I am a money magnet and attract wealth and abundance.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>96</integer>
		<key>clause</key>
		<string>I am in complete charge of planning for my future.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>97</integer>
		<key>clause</key>
		<string>I trust in my own ability to provide well for my life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>98</integer>
		<key>clause</key>
		<string>I follow my dreams no matter what.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>99</integer>
		<key>clause</key>
		<string>I show compassion in helping my loved ones understand my dreams.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>clause</key>
		<string>I ask my loved ones to support my dreams.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>clause</key>
		<string>I answer questions about my dreams without getting defensive.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>clause</key>
		<string>My loved ones love me even without fully grappling with my dreams.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>clause</key>
		<string>I accept everyone as they are and continue on with pursuing my dream.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>104</integer>
		<key>clause</key>
		<string>I am safe and sound. All is well.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>105</integer>
		<key>clause</key>
		<string>Everything works out for my highest good.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>106</integer>
		<key>clause</key>
		<string>There is a great reason this is unfolding before me now.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>107</integer>
		<key>clause</key>
		<string>I have the smarts and the ability to get through this.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>108</integer>
		<key>clause</key>
		<string>All my problems have a solution.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>109</integer>
		<key>clause</key>
		<string>I attempt all – not some – possible ways to get unstuck.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>clause</key>
		<string>I seek a new way of thinking about this situation.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>clause</key>
		<string>The answer is right before me, even if I am not seeing it yet.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>clause</key>
		<string>I believe in my ability to unlock the way and set myself free.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>clause</key>
		<string>I have no right to compare myself to anyone for I do not know their whole story.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>clause</key>
		<string>I compare myself only to my highest self.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>clause</key>
		<string>I choose to see the light that I am to this world.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>clause</key>
		<string>I am happy in my own skin and in my own circumstances.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>clause</key>
		<string>I see myself as a gift to my people and community and nation.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>clause</key>
		<string>I am more than good enough and I get better every day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>119</integer>
		<key>clause</key>
		<string>I give up the habit to criticize myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>120</integer>
		<key>clause</key>
		<string>I adopt the mindset to praise myself.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>121</integer>
		<key>clause</key>
		<string>I see the perfection in all my flaws and all my genius.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>122</integer>
		<key>clause</key>
		<string>I fully approve of who I am, even as I get better.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>123</integer>
		<key>clause</key>
		<string>I am a good person at all times of day and night.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>124</integer>
		<key>clause</key>
		<string>Giving up is easy and always an option so let’s delay it for another day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>125</integer>
		<key>clause</key>
		<string>I press on because I believe in my path.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>126</integer>
		<key>clause</key>
		<string>It is always too early to give up on my goals.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>127</integer>
		<key>clause</key>
		<string>I must know what awaits me at the end of this rope so I do not give up.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>128</integer>
		<key>clause</key>
		<string>The past has no power over me anymore.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>129</integer>
		<key>clause</key>
		<string>I embrace the rhythm and the flowing of my own heart.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>130</integer>
		<key>clause</key>
		<string>All that I need comes to me at the right time and place in this life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>131</integer>
		<key>clause</key>
		<string>I am deeply fulfilled with who I am</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>132</integer>
		<key>clause</key>
		<string>Being an entrepreneur is my natural path in life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>133</integer>
		<key>clause</key>
		<string>Success and money come easily to me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>134</integer>
		<key>clause</key>
		<string>What I focus on grows and so I focus on my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>135</integer>
		<key>clause</key>
		<string>My service is a gift to this world and I feel compelled to share it.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>136</integer>
		<key>clause</key>
		<string>I am building a successful company every day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>137</integer>
		<key>clause</key>
		<string>My work makes a difference in this world.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>138</integer>
		<key>clause</key>
		<string>I believe in the value I create in the lives of others through my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>139</integer>
		<key>clause</key>
		<string>I am smart, successful, savvy about business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>140</integer>
		<key>clause</key>
		<string>The success of my fellow entrepreneurs fuels me with energy and joy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>141</integer>
		<key>clause</key>
		<string>Whatever I can dream up for my business, I can achieve.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>142</integer>
		<key>clause</key>
		<string>Entrepreneurship is a path of service and prosperity.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>143</integer>
		<key>clause</key>
		<string>I create daily opportunities for growth for myself and others.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>144</integer>
		<key>clause</key>
		<string>My failures have made me a better entrepreneur.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>145</integer>
		<key>clause</key>
		<string>My income is growing every day by doing something I love.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>146</integer>
		<key>clause</key>
		<string>The passion I have for my work enables me to create real value.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>147</integer>
		<key>clause</key>
		<string>There are no limits to what I can achieve.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>148</integer>
		<key>clause</key>
		<string>I am driven by passion and purpose.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>149</integer>
		<key>clause</key>
		<string>Money and wealth comes to me easily.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>150</integer>
		<key>clause</key>
		<string>I attract my ideal clients and customers with my energy.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>151</integer>
		<key>clause</key>
		<string>I serve my highest work to my clients and customers.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>152</integer>
		<key>clause</key>
		<string>My business is set up for massive success and growth.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>153</integer>
		<key>clause</key>
		<string>I am energized by challenges in my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>154</integer>
		<key>clause</key>
		<string>My business is growing at exactly the right pace.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>155</integer>
		<key>clause</key>
		<string>I started my business at precisely the right time in my life.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>156</integer>
		<key>clause</key>
		<string>My business meets and exceeds my needs and my family’s needs.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>157</integer>
		<key>clause</key>
		<string>I get everything I want by helping others to get everything they want.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>158</integer>
		<key>clause</key>
		<string>My business helps me serve my life purpose.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>159</integer>
		<key>clause</key>
		<string>Entrepreneurship is the safest bet to security and wealth.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>160</integer>
		<key>clause</key>
		<string>I treasure the freedom my business affords me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>161</integer>
		<key>clause</key>
		<string>I love work and feel charged and energized by work.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>162</integer>
		<key>clause</key>
		<string>My work leaves me stronger and happier at the end of the day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>163</integer>
		<key>clause</key>
		<string>I focus on the value-generating parts of my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>164</integer>
		<key>clause</key>
		<string>Being my own boss is a responsibility I handle with care.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>165</integer>
		<key>clause</key>
		<string>I invest in myself and in my business every day.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>166</integer>
		<key>clause</key>
		<string>My business dreams align to my core values.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>167</integer>
		<key>clause</key>
		<string>I am making a difference in this world with my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>168</integer>
		<key>clause</key>
		<string>My success or failures do not define me. They grow me.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>169</integer>
		<key>clause</key>
		<string>My ideas come to life through my business.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>170</integer>
		<key>clause</key>
		<string>I leave a small dent in the universe with my work.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>171</integer>
		<key>clause</key>
		<string>I take entrepreneurship seriously, without taking myself too seriously.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>172</integer>
		<key>clause</key>
		<string>I appreciate all the lessons that owning my business has taught me.</string>
	</dict>
    <dict>
        <key>id</key>
        <integer>173</integer>
        <key>clause</key>
        <string>I am strong and balanced.</string>
    </dict>

	<dict>
		<key>id</key>
		<integer>174</integer>
		<key>clause</key>
		<string>Success and growth are inevitable outcomes of my work.</string>
	</dict>
    <dict>
        <key>id</key>
        <integer>175</integer>
        <key>clause</key>
        <string>I am much stronger than any challenge.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>176</integer>
        <key>clause</key>
        <string>My body is healthy; my mind is brilliant; my soul is tranquil.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>177</integer>
        <key>clause</key>
        <string>I believe I can do everything.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>178</integer>
        <key>clause</key>
        <string>Everything that is happening now is happening for my ultimate good.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>179</integer>
        <key>clause</key>
        <string>I am the architect of my life; I build its foundation and choose its contents.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>180</integer>
        <key>clause</key>
        <string>I forgive those who have harmed me in my past and peacefully detach from them.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>181</integer>
        <key>clause</key>
        <string>My ability to conquer my challenges is limitless; my potential to succeed is infinite</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>182</integer>
        <key>clause</key>
        <string>Today, I abandon my old habits and take up new, more positive ones.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>183</integer>
        <key>clause</key>
        <string>I will focus on making myself better, not on thinking I am better.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>184</integer>
        <key>clause</key>
        <string>Patience is a genuine expression of confidence, acceptance, serenity and faith in my own ability.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>185</integer>
        <key>clause</key>
        <string>Patience a sign of strength.  I practice it.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>186</integer>
        <key>clause</key>
        <string>I am strong, healthy and full of energy.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>187</integer>
        <key>clause</key>
        <string>I am a money magnet.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>188</integer>
        <key>clause</key>
        <string>I am the architect of my life. I am the creator of my reality.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>189</integer>
        <key>clause</key>
        <string>I accept and love myself just the way I am.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>190</integer>
        <key>clause</key>
        <string>I am supported and loved by God</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>191</integer>
        <key>clause</key>
        <string>I am surrounded by abundance.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>192</integer>
        <key>clause</key>
        <string>I am healthy, energetic and optimistic.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>193</integer>
        <key>clause</key>
        <string>I am overflowing with happiness, joy and satisfaction.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>194</integer>
        <key>clause</key>
        <string>My body is relaxed. My mind is calm .My soul is at peace.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>195</integer>
        <key>clause</key>
        <string>I am able to achieve whatever I desire.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>196</integer>
        <key>clause</key>
        <string>I can achieve greatness.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>197</integer>
        <key>clause</key>
        <string>Everything happens for a reason. Everything leads to something positive.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>198</integer>
        <key>clause</key>
        <string>I am forgiving. My compassion replaces anger with love.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>199</integer>
        <key>clause</key>
        <string>I am able to conquer all the challenges I am confronted with.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>200</integer>
        <key>clause</key>
        <string>I am becoming more confident and stronger each day.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>201</integer>
        <key>clause</key>
        <string>My potential to succeed is infinite.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>202</integer>
        <key>clause</key>
        <string>I am becoming more knowledgeable and wiser with each day.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>203</integer>
        <key>clause</key>
        <string>I am creative and bursting with brilliant ideas.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>204</integer>
        <key>clause</key>
        <string>I am courageous and overcome my fears by confronting them.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>205</integer>
        <key>clause</key>
        <string>I am at peace with my past.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>206</integer>
        <key>clause</key>
        <string>I radiate love, happiness, grace and positivity.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>207</integer>
        <key>clause</key>
        <string>I am patient, diplomatic and tolerant.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>208</integer>
        <key>clause</key>
        <string>I am grateful for the wonders in my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>209</integer>
        <key>clause</key>
        <string>The universe supports me in every possible way.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>210</integer>
        <key>clause</key>
        <string>Every experience in my life helps me to grow.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>211</integer>
        <key>clause</key>
        <string>Today, I lay the foundation for a wonderful future.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>212</integer>
        <key>clause</key>
        <string>I am safe and protected by divinity.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>213</integer>
        <key>clause</key>
        <string>I speak kindly of others.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>214</integer>
        <key>clause</key>
        <string>Everything I seek can be found within.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>215</integer>
        <key>clause</key>
        <string>I set myself free by forgiving myself.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>216</integer>
        <key>clause</key>
        <string>I am significant. I contribute to the advancement of humankind.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>217</integer>
        <key>clause</key>
        <string>I love myself and feel great about myself.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>218</integer>
        <key>clause</key>
        <string>I accept myself unconditionally.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>219</integer>
        <key>clause</key>
        <string>I see problems as interesting challenges.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>220</integer>
        <key>clause</key>
        <string>I radiate confidence.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>221</integer>
        <key>clause</key>
        <string>Challenges bring out the best in me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>222</integer>
        <key>clause</key>
        <string>I have confidence in my abilities and skills.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>223</integer>
        <key>clause</key>
        <string>I make sound decisions.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>224</integer>
        <key>clause</key>
        <string>I am bold and courageous</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>225</integer>
        <key>clause</key>
        <string>I face difficulty with courage.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>226</integer>
        <key>clause</key>
        <string>I am worthy of happiness and love.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>227</integer>
        <key>clause</key>
        <string>My heart is always open. I am kind to every person I meet.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>228</integer>
        <key>clause</key>
        <string>I am surrounded by love. I attract kind people.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>229</integer>
        <key>clause</key>
        <string>I love unconditionally and without hesitation.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>230</integer>
        <key>clause</key>
        <string>I deserve love. I am loved and appreciated by those around me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>231</integer>
        <key>clause</key>
        <string>Everywhere I go, I am accompanied by love.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>232</integer>
        <key>clause</key>
        <string>Love, forgiveness and understanding is the very foundation of my relationship.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>233</integer>
        <key>clause</key>
        <string>I give and receive love equally.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>234</integer>
        <key>clause</key>
        <string>I accept my partner unconditionally.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>235</integer>
        <key>clause</key>
        <string>I am treasured for who I really am.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>236</integer>
        <key>clause</key>
        <string>My relationships are becoming stronger, deeper and more loving with every day.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>237</integer>
        <key>clause</key>
        <string>I can and will have more than I ever dreamed possible.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>238</integer>
        <key>clause</key>
        <string>I feel good about money and deserve it in my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>239</integer>
        <key>clause</key>
        <string>Great wealth is flowing to me now.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>240</integer>
        <key>clause</key>
        <string>I now create my wonderful, ideal life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>241</integer>
        <key>clause</key>
        <string>I now create my wonderful, ideal life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>242</integer>
        <key>clause</key>
        <string>I am thankful for the comfort and joy that money provides me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>243</integer>
        <key>clause</key>
        <string>I always have enough money for myself.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>244</integer>
        <key>clause</key>
        <string>Every day in every way I am becoming more and more prosperous.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>245</integer>
        <key>clause</key>
        <string>I see myself as wealthy, and that’s who I am.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>246</integer>
        <key>clause</key>
        <string>I choose wealth and abundance.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>247</integer>
        <key>clause</key>
        <string>My wealth derives from honesty in everything I do.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>248</integer>
        <key>clause</key>
        <string>I am worthy of great success.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>249</integer>
        <key>clause</key>
        <string>My greatest good is coming to me now.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>250</integer>
        <key>clause</key>
        <string>I love abundance in all its beautiful forms.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>251</integer>
        <key>clause</key>
        <string>I am wide awake to my abundance.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>252</integer>
        <key>clause</key>
        <string>I release all my negative beliefs about money and invite wealth into my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>253</integer>
        <key>clause</key>
        <string>I am prosperous, healthy, happy and live in abundance.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>254</integer>
        <key>clause</key>
        <string>Wealth is my birth-right, my natural state of being.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>255</integer>
        <key>clause</key>
        <string>Making money is good for me and for everyone in my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>256</integer>
        <key>clause</key>
        <string>Making money is good for me and for everyone in my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>257</integer>
        <key>clause</key>
        <string>My income is growing higher and higher now.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>258</integer>
        <key>clause</key>
        <string>Money is an important part of my life and is never away from me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>259</integer>
        <key>clause</key>
        <string>Money is an important part of my life and is never away from me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>260</integer>
        <key>clause</key>
        <string>All my issues with wealth have disappeared.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>261</integer>
        <key>clause</key>
        <string>I clearly see opportunities to effortlessly make money.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>262</integer>
        <key>clause</key>
        <string>I am wealthy.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>263</integer>
        <key>clause</key>
        <string>Whatever I do, it always ends in amassing wealth.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>264</integer>
        <key>clause</key>
        <string>I attract prosperity.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>265</integer>
        <key>clause</key>
        <string>Money flows freely and abundantly into my life.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>266</integer>
        <key>clause</key>
        <string>I will be productive and prosperous today.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>267</integer>
        <key>clause</key>
        <string>Perfect abundance is my chosen reality.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>268</integer>
        <key>clause</key>
        <string>I continuously discover new avenues of income.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>269</integer>
        <key>clause</key>
        <string>I am open to all the wealth life has to offer.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>270</integer>
        <key>clause</key>
        <string>I use money to make other people’s lives better.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>271</integer>
        <key>clause</key>
        <string>I attract lucrative opportunities to create money.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>272</integer>
        <key>clause</key>
        <string>I see abundance everywhere.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>273</integer>
        <key>clause</key>
        <string>I am becoming more and more prosperous with every day.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>274</integer>
        <key>clause</key>
        <string> Life takes care of all my needs.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>275</integer>
        <key>clause</key>
        <string>I allow all good things to come into my life, and I enjoy them.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>276</integer>
        <key>clause</key>
        <string>I can achieve greatness.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>277</integer>
        <key>clause</key>
        <string>My heart is always open and i radiate love.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>278</integer>
        <key>clause</key>
        <string> I am bold and courageous.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>279</integer>
        <key>clause</key>
        <string>I make sound decisions.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>280</integer>
        <key>clause</key>
        <string>Everything happens for a reason. Everything leads to something positive.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>281</integer>
        <key>clause</key>
        <string>I can achieve greatness.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>282</integer>
        <key>clause</key>
        <string>Love and abundance finds me.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>283</integer>
        <key>clause</key>
        <string>I always do whats is right for me not what is easy.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>284</integer>
        <key>clause</key>
        <string>I never gossip, i do not waste my time.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>285</integer>
        <key>clause</key>
        <string>All my relationships are long lasting and loving.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>286</integer>
        <key>clause</key>
        <string>I can and will have more than I ever dreamed possible.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>287</integer>
        <key>clause</key>
        <string>I always express my feeling openly to my partner. That way, s/he doesn’t have to guess anything.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>288</integer>
        <key>clause</key>
        <string>I understand my partner perfectly as I am able to see his/her point of view.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>289</integer>
        <key>clause</key>
        <string>My partner loves me as much as I love him/her.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>290</integer>
        <key>clause</key>
        <string>I have attracted the most loving person in my life and my life is now full of joy.</string>
    </dict>
    <dict>
        <key>id</key>
        <integer>291</integer>
        <key>clause</key>
        <string>I encounter love in all my relationships and I love these encounters.</string>
    </dict>
</array>
</plist>
