<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>clause</key>
		<string>Kendi hayatımın mimarıyım! Bütün temelini ve içeriğini kendim oluşturuyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>clause</key>
		<string>Bugün, enerjiyle dolup taşıyorum ve keyiften coşuyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>clause</key>
		<string>Vücudum sağlıklı; aklım mükemmel; ruhum dingin!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>clause</key>
		<string>Ben kötü düşüncelerden ve düşük hareketlerden daha yüksekteyim!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>clause</key>
		<string>Bana bugün yararlanmaya başlayacağım sayısız yetenek bahşedilmiş</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>clause</key>
		<string>Bana geçmişte zarar veren herkesi affediyorum ve onlardan barış içinde uzaklaşıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>clause</key>
		<string>Şefkatle dolu bir nehir bütün sinirimi alacak ve yerini sevgi dolduracak!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>clause</key>
		<string>Her adımımda ruhum bana yol gösteriyor ve yapmam, bilmem gereken şeylere beni götürüyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>clause</key>
		<string>İlişkim güçleniyor, derinleşiyor ve her gün daha da sağlam hale geliyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>clause</key>
		<string>Aşırı başarılı olabilmek için bütün gerekliliklere sahibim!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>clause</key>
		<string>İşim büyüyor, genişliyor ve gelişiyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>clause</key>
		<string>Yaratıcı enerji içimde dalgalanıyor ve beni yeni ve dahiyane fikirlere götürüyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>clause</key>
		<string>Mutluluk bir seçimdir. Benim mutluluğum yalnızca kendi başarılarımdan ve kendi nimetlerimden kaynaklanıyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>clause</key>
		<string>Meydan okuduğum zorlukları aşma yeteneğimin sonu yok başarma potansiyelim ise sonsuz!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>clause</key>
		<string>(İşsiz olanlar için) Emeklerim, zamanım ve fikirlerim için işe alınmayı ve iyi para ödenmeyi hak ediyorum. Her gün, kendim için en uygun olan işi bulmaya daha da yakınlaşıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>clause</key>
		<string>Cesurum ve dimdik duruyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>clause</key>
		<string>Düşüncelerim pozitifliklerle dolu ve hayatım refah içinde!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>clause</key>
		<string>Bugün, kötü alışkanlıklarımı bırakıyorum ve daha yeni, olumlu alışkanlıklara yöneliyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>clause</key>
		<string>Çoğu insan bana bakar ve değerimi görür, takdir ediliyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>clause</key>
		<string>İnanılmaz bir aile ve harika arkadaşlar bana lütfedilmiş!
İnanılmaz bir aile ve harika arkadaşlar bana lütfedilmiş!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>clause</key>
		<string>Kendi değerimin farkındayım ve kendime olan güvenim tırmanıyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>clause</key>
		<string>Bugünlerde yaşadığım her şey, ileride gerçekleşecek mükemmel şeyler için!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>clause</key>
		<string>Ben bir güç kaynağıyım ve yok edilemezim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>clause</key>
		<string>Zor zamanlar geçirsem de, bu ancak hayatımın kısa bir bölümü.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>clause</key>
		<string>Şu an hayal ettiklerimin hepsi geleceğimin bir aynası!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>clause</key>
		<string>Gösterdiğim gayretlerim evren tarafındandan destekleniyor hayallerim gerçeğe dönüşüyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>clause</key>
		<string>(İlişkisi olmayanlar) İdeal sevgilim tahmin ettiğimden ve beklediğimden daha yakın bir zamanda hayatıma giriyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>clause</key>
		<string>Çevreme güzellik, neşe, huzur ve mutluluk yayıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>clause</key>
		<string>Çevreme güzellik, neşe, huzur ve mutluluk yayıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>clause</key>
		<string>Yolumdaki engeller bir bir kalkıyor yolum mükemmeliğe ulaşacak şekilde açılıyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>clause</key>
		<string>Bugün güçlü bir kalple ve berrak bir zihinle uyandım!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>clause</key>
		<string>Yarınlara olan korkularım eriyerek yok oluyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>32</integer>
		<key>clause</key>
		<string>Başıma gelmiş olan, geliyor olan ve gelecek olan her şey ile barış içindeyim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>33</integer>
		<key>clause</key>
		<string>Benim doğam kutsal bir doğa ve ben ruhsal bir varlığım!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>34</integer>
		<key>clause</key>
		<string>Asıl hayatım daha yeni başlıyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>clause</key>
		<string>Fiziksel olarak yakınımda olamayanların sevgilerini içimde hissediyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>clause</key>
		<string>Yalnız olmaktan da keyif alıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>clause</key>
		<string>Acınası hissetmiyorum, bu dünya için bir hediyeyim!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>38</integer>
		<key>clause</key>
		<string>Kendimi seviyorum ve kendimle gurur duyuyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>39</integer>
		<key>clause</key>
		<string>Nefes almaya ve rahatlamaya odaklanıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>40</integer>
		<key>clause</key>
		<string>İçgüdülerimi ve kalbimi dinlemek beni güvende tutuyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>41</integer>
		<key>clause</key>
		<string>Her zaman doğru kararları veriyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>42</integer>
		<key>clause</key>
		<string>Kendi gücümü ve içimdeki ışığı kendim yaratıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>43</integer>
		<key>clause</key>
		<string>Kendime güveniyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>44</integer>
		<key>clause</key>
		<string>Bu Dünya&apos;da tek ve benzersizim!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>45</integer>
		<key>clause</key>
		<string>Diğer insanlara kendi ışığımı yansıtıyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>46</integer>
		<key>clause</key>
		<string>Ben önemliyim ve yaptığım şeyler de önem arz ediyor!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>47</integer>
		<key>clause</key>
		<string>7 milyarda 1 olabilirim ama aynı zamanda 7 milyarda tekim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>48</integer>
		<key>clause</key>
		<string>İçimdeki bilgeliğe ve sezgilerime güveniyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>49</integer>
		<key>clause</key>
		<string>Nefesimle beraber tüm sakinliği alıyorum ve nefes verirken tüm gerginliği dışarı atıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>50</integer>
		<key>clause</key>
		<string>Bu durum, beni en hayırlısına hazırlıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>51</integer>
		<key>clause</key>
		<string>Harika olaylar yoluma seriliyor </string>
	</dict>
	<dict>
		<key>id</key>
		<integer>52</integer>
		<key>clause</key>
		<string>Yaptığım tüm hatalar için kendimi affediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>clause</key>
		<string>Öfkemi bırakıyorum ve daha net görüyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>54</integer>
		<key>clause</key>
		<string>Birilerini kırdıysam bunun sorumluluğunu alıyorum ama artık barış içindeyim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>55</integer>
		<key>clause</key>
		<string>Öfkemin yerini anlayışa ve şefkate bırakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>56</integer>
		<key>clause</key>
		<string>Bulunduğum durumun içindeki iyiliği göremiyorum ancak biliyorum ki orada</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>57</integer>
		<key>clause</key>
		<string>İçimdeki umudu ve cesareti topluyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>58</integer>
		<key>clause</key>
		<string>Olaylara, pozitif ve umutla bakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>59</integer>
		<key>clause</key>
		<string>Eğer daha iyi bir yol düşünemezsem başkalarından nazikçe fikirlerini isterim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>60</integer>
		<key>clause</key>
		<string>Pes etmeyi reddediyorum çünkü henüz bütün yolları denemedim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>61</integer>
		<key>clause</key>
		<string>Biliyorum ki kendi aklımla doğru kararları veririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>62</integer>
		<key>clause</key>
		<string>Kendim için en iyi kararı yine kendim veririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>63</integer>
		<key>clause</key>
		<string>Yapılan bütün yorumları nazikçe dinlerim ama son kararı yine kendim veririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>64</integer>
		<key>clause</key>
		<string>İçimdeki çatışmaları huzur içinde hallediyorum ve kendi içimde çözene kadar dışarı yansıtmıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>65</integer>
		<key>clause</key>
		<string>Ne olursa olsun ailemi çok seviyorum!</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>66</integer>
		<key>clause</key>
		<string>Aileme olan sevgimi elimden gelen her yol ile gösteririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>67</integer>
		<key>clause</key>
		<string>Bu eşsiz aileye sahip olduğum için çok mutluyum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>68</integer>
		<key>clause</key>
		<string>Ailemi bana bahşedilmiş bir hediye olarak görüyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>69</integer>
		<key>clause</key>
		<string>Ailemle birlikte zor zamanlardan geçsek de bu zorlukları atlatacağız</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>70</integer>
		<key>clause</key>
		<string>Beni seven ve beni destekleyen arkadaşlar ediniyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>71</integer>
		<key>clause</key>
		<string>Kendimi, beni seven ve bana destek olan arkadaşlarla çevreliyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>72</integer>
		<key>clause</key>
		<string>Bana değer veren arkadaşlarıma zaman ayırarak onları önemsediğimi gösteriyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>73</integer>
		<key>clause</key>
		<string>Arkadaşlarım beni yargılamaz ve hayatımı kötü etkilemeye çalışmaz</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>74</integer>
		<key>clause</key>
		<string>Arkadaşlarım benim yaşadığımdan farklı hayatlar yaşasalar bile onlarla birlikte olmaktan aşırı keyif alıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>75</integer>
		<key>clause</key>
		<string>Güzelim ve akıllıyım ve beni herkes böyle görüyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>76</integer>
		<key>clause</key>
		<string>Bu işi her zaman bırakabileceğimin rahatlığını içimde yaşıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>77</integer>
		<key>clause</key>
		<string>Tanışacağım bir sonraki kişinin ne kadar harika biri olacağını tahmin bile edemem</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>78</integer>
		<key>clause</key>
		<string>Tanımadığım insanlarla birlikteyken kendi sevdiğim ve sevmediğim şeyler hakkında birçok şey fark ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>79</integer>
		<key>clause</key>
		<string>Yapmaktan keyif aldığım ve beni doyuma ulaştıran işlerle uğraşıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>80</integer>
		<key>clause</key>
		<string>Kendi kariyerimdeki başarıda ipler benim elimde</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>81</integer>
		<key>clause</key>
		<string>Yaptığım işin en iyisini yapmaya çalışıyorum ve iş istediğim kişilerden de ellerinden gelenin en iyisini yapmalarını bekliyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>82</integer>
		<key>clause</key>
		<string>Bu dünyaya güzel işler bırakabilmek için uğraşıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>83</integer>
		<key>clause</key>
		<string>Başardığım işlerle Dünya&apos;ya etki edeceğime inanıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>84</integer>
		<key>clause</key>
		<string>Geceleri kafamı yastığa rahat koyuyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>85</integer>
		<key>clause</key>
		<string>Kafamda büyüttüğüm olaylardan vazgeçiyorum ve kafamın içini boşaltıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>86</integer>
		<key>clause</key>
		<string>Kafamı gece uyurken boşaltıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>87</integer>
		<key>clause</key>
		<string>Gecenin sessizliğini ve huzurunu kucaklıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>88</integer>
		<key>clause</key>
		<string>Bugün harika bir gün</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>89</integer>
		<key>clause</key>
		<string>Bugün hatırlanmaya değer bir gün olacak</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>90</integer>
		<key>clause</key>
		<string>Düşüncelerim benim realitemi oluşturur dolayısıyla yeni günleri iyi düşüncelerle bekliyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>91</integer>
		<key>clause</key>
		<string>Günümü umutla dolduruyorum ve onu neşeyle yaşıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>92</integer>
		<key>clause</key>
		<string>Günümün her anının tadını çıkarırım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>93</integer>
		<key>clause</key>
		<string>Enerjimi sömüren kaygılarımı geride bırakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>94</integer>
		<key>clause</key>
		<string>Geleceğim hakkında ölçer biçerim ve akıllıca karar veririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>95</integer>
		<key>clause</key>
		<string>Ben bir para magnetiyim ve zenginliği, bolluğu, bereketi üzerime çekerim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>96</integer>
		<key>clause</key>
		<string>Geleceğimi tamamen kendim şekillendiriyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>97</integer>
		<key>clause</key>
		<string>Hayatımı yönetme konusunda kendime çok güveniyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>98</integer>
		<key>clause</key>
		<string>Hayallerimin her daim peşinde koşacağım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>99</integer>
		<key>clause</key>
		<string>Sevdiğim kişilere hayallerimi anlayabilmeleri için emek veriyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>clause</key>
		<string>Sevdiklerimden gelecek planlarımı ve hayallerimi desteklemesini istiyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>clause</key>
		<string>Gelecek planlarım hakkındaki sorulara karşı, savunmaya geçmeden cevap veriyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>clause</key>
		<string>Hayallerimi kovalarken sevdiklerime yeterince ilgiyi gösteremesem de onlar, benim onları sevdiğimi bilirler</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>clause</key>
		<string>Herkesi olduğu gibi kabul ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>104</integer>
		<key>clause</key>
		<string>Her şey yolunda. Hayatım güzel.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>105</integer>
		<key>clause</key>
		<string>Her şey benim iyiliğime yarayacak şekilde sonuçlanacak</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>106</integer>
		<key>clause</key>
		<string>Yaşadığım olayların harika sebepleri olduğuna eminim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>107</integer>
		<key>clause</key>
		<string>İçinde olduğum durumlardan çıkabilmem için gerekli zekaya ve yeteneğe sahibim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>108</integer>
		<key>clause</key>
		<string>Bütün sorunlarımın bir çözümü var</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>109</integer>
		<key>clause</key>
		<string>Sıkıştığım zamanlardan çıkabilmek için birtakım yolları değil, bütün yolları deniyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>clause</key>
		<string>Yaşadığım olaydan çıkabilmek için başka bakış açıları arayacağım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>clause</key>
		<string>Aradığım doğru cevap hemen yanıbaşımda, sadece onu henüz göremedim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>clause</key>
		<string>Olayları çözüş şeklime güveniyorum ve kendimi özgür bırakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>clause</key>
		<string>Kendimi başkasıyla kıyaslamamalıyım çünkü onların neler yaşadığını bilemiyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>clause</key>
		<string>Kendimi ancak kendimin daha iyi haliyle kıyaslıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>clause</key>
		<string>Etrafıma ışık saçmayı tercih ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>clause</key>
		<string>Kendi vücudumdan ve yaşadığım hayattan mutluyum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>clause</key>
		<string>Kendimi içinde olduğum gruplara bir nimet olarak görüyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>clause</key>
		<string>Olmam gerekenden daha iyiyim ve her gün daha da iyiye gidiyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>119</integer>
		<key>clause</key>
		<string>Kendimi yargılama alışkanlığımı geride bırakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>120</integer>
		<key>clause</key>
		<string>Kafa yapımı değiştiriyorum ve kendime olduğum kişi için şükrediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>121</integer>
		<key>clause</key>
		<string>Kusurlarımda ve dehamda her zaman iyiliği ve güzelliği görüyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>122</integer>
		<key>clause</key>
		<string>Olduğum kişiyi tamamen onaylıyorum ve daha da iyi olmaya devam ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>123</integer>
		<key>clause</key>
		<string>Koşullar ve zaman ne olursa olsun ben iyi bir insanım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>124</integer>
		<key>clause</key>
		<string>Vazgeçmek her zaman kolay olan yoldur, dolayısıyla şu an vazgeçmiyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>125</integer>
		<key>clause</key>
		<string>Pes etmiyorum çünkü seçtiğim yola inanıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>126</integer>
		<key>clause</key>
		<string>Hayallerimden vazgeçmek için ne olursa olsun çok erken.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>127</integer>
		<key>clause</key>
		<string>Beni bekleyen şeyleri biliyorum ve bunlardan vazgeçmeyeceğim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>128</integer>
		<key>clause</key>
		<string>Geçmişimin benim üzerimde hiçbir kötü etkisi olmayacak</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>129</integer>
		<key>clause</key>
		<string>Kalbimden geçenlere inanıyorum ve onun akışına uyuyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>130</integer>
		<key>clause</key>
		<string>İstediğim şeyler bana en çok ihtiyacım olduğunda gelecek</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>131</integer>
		<key>clause</key>
		<string>Olduğum kişi için binlerce kez şükrediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>132</integer>
		<key>clause</key>
		<string>Girişimci olmak benim doğamda olan bir yetenek</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>133</integer>
		<key>clause</key>
		<string>Başarı ve para bana kolayca gelir</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>134</integer>
		<key>clause</key>
		<string>Enerjimi harcadığım şeyler büyür dolayısıyla enerjimi işime harcıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>135</integer>
		<key>clause</key>
		<string>Etrafıma sunduğum hizmetler onlar için bir hediye ve ben bunu severek yapıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>136</integer>
		<key>clause</key>
		<string>Her gün başarılı işlere imzamı atıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>137</integer>
		<key>clause</key>
		<string>Emek verdiğim zaman farkımı belli ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>138</integer>
		<key>clause</key>
		<string>Yaptığım işlerle etrafımdaki canlıların hayatına değer katıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>139</integer>
		<key>clause</key>
		<string>Çalıştığım işim konusunda zekiyim, akıllıyım ve becerikliyim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>140</integer>
		<key>clause</key>
		<string>Arkadaşlarımın başarısı beni keyiflendiriyor ve neşelendiriyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>141</integer>
		<key>clause</key>
		<string>İşimle ilgili ne hayal edersem onu başarırım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>142</integer>
		<key>clause</key>
		<string>Girişimcilik, yaptığım işleri sunabilmenin en iyi yollarından biridir</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>143</integer>
		<key>clause</key>
		<string>Kendimin ve çevremin gücünü büyütebilmek için her gün yeni fırsatlar yaratırım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>144</integer>
		<key>clause</key>
		<string>Hatalarım beni daha başarılı ve iyi bir insan yaptı</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>145</integer>
		<key>clause</key>
		<string>İşimi severek yapıyorum ve gelirim her gün daha da artıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>146</integer>
		<key>clause</key>
		<string>Yaptığım işe olan tutkum, ortaya gerçek bir değer koymamı sağlıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>147</integer>
		<key>clause</key>
		<string>Yapabileceklerimin sınırı yok</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>148</integer>
		<key>clause</key>
		<string>Tutku ve amaç ile doluyum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>149</integer>
		<key>clause</key>
		<string>Para ve zenginlik bana kolayca gelir</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>150</integer>
		<key>clause</key>
		<string>Enerjimin yüksekliğiyle, birlikte çalıştığım insanları kendime çekerim</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>151</integer>
		<key>clause</key>
		<string>Elimden gelenin her zaman en iyisini sunarım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>152</integer>
		<key>clause</key>
		<string>Yaptığım işler ile mükemmel büyük zaferler kazanacağım</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>153</integer>
		<key>clause</key>
		<string>İşimde yoluma çıkan zorluklar beni daha da fazla motive ediyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>154</integer>
		<key>clause</key>
		<string>İşlerim tam olması gereken hızda yol alıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>155</integer>
		<key>clause</key>
		<string>İşlerime en doğru zamanda başladım ve en doğru zamanda büyütmeye koyuldum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>156</integer>
		<key>clause</key>
		<string>Çalıştığım işler benim ve ailemin ihtiyaçlarından fazlasını karşılıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>157</integer>
		<key>clause</key>
		<string>Kendi istediklerimi elde edebilmek için önce başka insanların istediklerini elde etmelerine yardım ediyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>158</integer>
		<key>clause</key>
		<string>Çalışmalarım hayat amacıma hizmet ediyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>159</integer>
		<key>clause</key>
		<string>Girişimci olmak zenginlik ve refaha kavuşmanın en garanti yollarından biri</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>160</integer>
		<key>clause</key>
		<string>Yaptığım işlerin bana verdiği özgürlüğün değerini biliyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>161</integer>
		<key>clause</key>
		<string>Çalışmayı seviyorum ve çalışmak için sabırsızlanıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>162</integer>
		<key>clause</key>
		<string>Çalıştıktan sonra yorulsam da çalışmalarım günün sonunda beni daha güçlü ve mutlu yapıyor</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>163</integer>
		<key>clause</key>
		<string>Yaptığım işlerde değer yaratmaya odaklanıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>164</integer>
		<key>clause</key>
		<string>Kendimin patronuyum ve bu sorumluluğu üstleniyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>165</integer>
		<key>clause</key>
		<string>Kendime ve işime her gün yatırım yapıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>166</integer>
		<key>clause</key>
		<string>İş hayallerim benim kendi kişisel değerlerimle aynı çizgide</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>167</integer>
		<key>clause</key>
		<string>Yaptığım işlerle bu Dünya&apos;da bir fark yaratmaya çalışıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>168</integer>
		<key>clause</key>
		<string>Başarılarım veya başarısızlıklarım benim nasıl birisi olduğumu göstermez, beni geliştirir</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>169</integer>
		<key>clause</key>
		<string>Düşüncelerimi yaptığım işlerle hayata geçiririm</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>170</integer>
		<key>clause</key>
		<string>Çalışmalarımla evrene kendi ayak izimi bırakıyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>171</integer>
		<key>clause</key>
		<string>Girişimci biri olmayı önemsiyorum</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>172</integer>
		<key>clause</key>
		<string>Kendi işimin sahibi olmanın bana öğrettiklerinin değeri paha biçilemez</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>173</integer>
		<key>clause</key>
		<string>Başarı ve büyüme yaptığım işlerin kaçınılmaz bir sonucu</string>
	</dict>
</array>
</plist>
